version: "3.8"

services:
  db:
    image: postgres:16
    container_name: my_tohyo_postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      # POSTGRES_DB: mydb
      POSTGRES_DB: my-tohyo
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
